<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right"></a>
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/service']">Services</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/products']">Products</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </div>
</nav>